---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <header>
		<nav style="text-align: right;">
			<a class="enlaceNavbar" href="../">Página principal</a>
		</nav>
        <h1>Contacto</h1>

        <form method="POST" action="">
            <div>
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" required aria-label="Nombre">
            </div>
            <div>
                <label for="email">Correo</label>
                <input type="email" id="email" name="email" required aria-label="Correo">
            </div>
            <div>
                <label for="message">Mensaje</label>
                <textarea id="message" name="message" required aria-label="Mensaje"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </header>
</Layout>

<style>
    /* Reset de estilos y estilos básicos */
	body, h1, h2, h3, p, ul, li {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: Arial, sans-serif;
		line-height: 1.6;
		background-color: #f5f5f5;
		color: #333;
		padding: 20px;
	}

	#enlaceLinkedin, #enlaceContacto, .enlaceNavbar {
		color: #f7fcf8;
	}

	header {
		background-color: #0077b6;
		color: #fff;
		padding: 20px;
		text-align: center;
	}

	header h1 {
		font-size: 2.5em;
	}

	header p {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	section {
		background-color: #fff;
		border: 1px solid #ddd;
		margin-bottom: 20px;
		padding: 20px;
	}

	h2 {
		font-size: 1.8em;
		margin-bottom: 10px;
		color: #0077b6;
	}

	ul {
		list-style: disc;
		margin-left: 20px;
		font-size: 1.1em;
	}

	footer {
		background-color: #0077b6;
		color: #fff;
		padding: 10px;
		text-align: center;
		font-size: 1.2em;
	}

	/* Estilos específicos para enlaces */
	a {
		color: #0077b6;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

    form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #0077b6;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #005b8a;
    }
</style>