---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio de Rodrigo">
	<main>
		<header>
			<h1>Portafolio de Rodrigo Sambade Saá</h1>
			<img src="https://avatars.githubusercontent.com/u/43375046?v=4" alt="Foto de perfil" width="200" loading="lazy">
			<p>Email: rodrigosambadesaa@gmail.com</p>
			<p>Teléfono: +34608030077</p>
			<p>Dirección: Avenida De Ferrol, 38, 2º B, 15706 Santiago de Compostela</p>
			<p>Fecha de nacimiento: 14 de octubre de 1994</p>
			<p>Lugar de nacimiento: Santiago de Compostela</p>
			<p>Permiso de conducir: Permiso B</p>
			<p>Género: Hombre</p>
			<p>Nacionalidad: Española</p>
			<p>Provincia: A Coruña</p>
			<p>LinkedIn: <a id="enlaceLinkedin" href="https://linkedin.com/in/rodrigosambade-5675bb186">linkedin.com/in/rodrigosambade-5675bb186</a></p>
			<p>DNI: 46094460E</p>
			<p>Grado de discapacidad: 36%</p>
			<a id="enlaceContacto" href="contacto">Contacto</a>
		</header>

		<section id="idiomas">
			<h2>Idiomas</h2>
			<ul>
				<li>Inglés</li>
				<li>Gallego</li>
				<li>Castellano</li>
			</ul>
		</section>

		<section id="perfil">
			<h2>Perfil</h2>
			<p>Desarrollador de Aplicaciones Móviles. Anteriormente, Técnico Especialista en Investigación, Diseñador Web y Desarrollador Java. Interesado en puestos de Desarrollo de Aplicaciones Móviles, Desarrollo Web o Desarrollo Java.</p>
		</section>

		<section id="competencias">
			<h2>Competencias</h2>
			<h3>Competencias técnicas:</h3>
			<ul>
				<li>Configurar y explotar sistemas informáticos</li>
				<li>Programar bases de datos relacionales</li>
				<li>Desarrollar componentes software en lenguajes de programación estructurada</li>
				<li>Desarrollar componentes software en lenguajes de programación orientados a objetos</li>
				<li>Instalar y configurar sistemas de planificación de recursos empresariales y de gestión de relaciones con clientes</li>
				<li>Crear elementos software para la gestión del sistema y sus recursos</li>
			</ul>
			<h3>Competencias metodológicas:</h3>
			<ul>
				<li>Escribir amplias secciones de código rápidamente</li>
			</ul>
			<h3>Competencias de relación:</h3>
			<ul>
				<li>Trabajo en equipo</li>
			</ul>
			<h3>Competencias personales:</h3>
			<ul>
				<li>Perfeccionismo</li>
			</ul>
		</section>

		<section id="formacion">
			<h2>Formación</h2>
			<p>Docker Kubernetes with AWS: Containerize & Deploy - diciembre 2020 - Udemy, Santiago de Compostela</p>
			<p>Ciclo Superior en Desarrollo de Aplicaciones Multiplataforma - sep 2017 - dic 2019 - TESDAI, Santiago de Compostela</p>
			<p>Nota de proyecto de fin de ciclo: 10</p>
		</section><br>

		<section id="experiencia">
			<h2>Experiencia</h2>
			<h3>Desarrollador de Aplicaciones Móviles - oct 2023 - presente</h3>
			<p>Concello de Santiago de Compostela, Santiago de Compostela</p>
			<p>Trabajo desarrollando tres aplicaciones móviles para la Senda del Río Sar, el Pasatiempos e el Mercado de Abastos y el Museo del pueblo gallego.</p>
			<p>Tecnologías utilizadas: HTML5, CSS3, JavaScript, Next.js, React Native, Adobe Photoshop, Adobe Illustrator, Adobe After Effects, Adobe InDesign, Adobe Dreamweaver y Adobe Premiere.</p>
			<h3>Técnico Especialista de Investigación - abr 2022 - abr 2023</h3>
			<p>CiTIUS (Centro Singular de Investigación en Tecnologías Inteligentes) - Universidad de Santiago de Compostela, Santiago de Compostela</p>
			<p>Trabajo en el Proyecto Nós Administración de dos webs.</p>
			<p>Tecnologías utilizadas y aptitudes adquiridas: Handlebars, HTML, CSS, JavaScript, JSON, Gitlab, Docker, YAML, Resolución de Problemas, Programación Orientada a Objetos (POO), Programación, jQuery, Git, Desarrollo web, Desarrollo web fullstack, Desarrollo web front end, Desarrollo web back end, Desarrollo de aplicaciones web.</p>
			<p>Las webs son: <a href="https://nos.gal/">nos.gal</a> (web del Proyecto Nós) y <a href="https://curso-linguaxe.pages.citius.usc.es/#index">curso-linguaxe.pages.citius.usc.es/#index</a> (Web del Curso de Verano que se impartió que trataba sobre las Tecnologías del Lenguaje)</p>
			<p>Refactorización de la librería SimpleNLG-GL (herramienta para la generación de textos en gallego): <a href="https://gitlab.citius.usc.es/andrea.cascallar/simplenlg-gl">gitlab.citius.usc.es/andrea.cascallar/simplenlg-gl</a></p>
			<p>Tecnologías utilizadas y aptitudes adquiridas: SimpleNLG-GL, Java, Maven, Eclipse, Investigación</p>
			<h3>Estudiante en prácticas - sep 2019 - nov 2019</h3>
			<p>Coremain, Santiago de Compostela</p>
			<p>Estancia establecida según lo previsto para los Ciclos Formativos de Grado Superior correspondiente a la formación del Ciclo Superior en Desarrollo de Aplicaciones Multiplataforma</p>
			<p>Trabajo como desarrollador principal en la plataforma web Camunda, del área de Industria Privada de la empresa.</p>
			<p>Tecnologías utilizadas: Camunda, Maven, Java, XML, Git</p>
		</section><br>

		<footer>
			<p>Intereses: Cine, Billar, Dardos, Videojuegos, Ajedrez</p>
		</footer>
	</main>
</Layout>

<style>
	/* Reset de estilos y estilos básicos */
	body, h1, h2, h3, p, ul, li {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: Arial, sans-serif;
		line-height: 1.6;
		background-color: #f5f5f5;
		color: #333;
		padding: 20px;
	}

	#enlaceLinkedin, #enlaceContacto {
		color: red;
	}

	header {
		background-color: #0077b6;
		color: #fff;
		padding: 20px;
		text-align: center;
	}

	header h1 {
		font-size: 2.5em;
	}

	header p {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	section {
		background-color: #fff;
		border: 1px solid #ddd;
		margin-bottom: 20px;
		padding: 20px;
	}

	h2 {
		font-size: 1.8em;
		margin-bottom: 10px;
		color: #0077b6;
	}

	ul {
		list-style: disc;
		margin-left: 20px;
		font-size: 1.1em;
	}

	footer {
		background-color: #0077b6;
		color: #fff;
		padding: 10px;
		text-align: center;
		font-size: 1.2em;
	}

	/* Estilos específicos para enlaces */
	a {
		color: #0077b6;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

</style>

