---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio de Rodrigo">
	<main tabindex="0">
		<header>
			<nav style="text-align: right;">
				<a class="enlaceNavbar" href="contacto" tabindex="1">Contacto</a>
			</nav>
			<div tabindex="2">
				<h1 tabindex="3">Portafolio de Rodrigo Sambade Saá</h1>
				<img src="https://avatars.githubusercontent.com/u/43375046?v=4" alt="Foto de perfil" width="200" loading="lazy" tabindex="4">
				<p tabindex="5">Email: rodrigosambadesaa@gmail.com</p>
				<p tabindex="6">Teléfono: +34608030077</p>
				<p tabindex="7">Dirección: Avenida De Ferrol, 38, 2º B, 15706 Santiago de Compostela</p>
				<p tabindex="8">Fecha de nacimiento: 14 de octubre de 1994</p>
				<p tabindex="9">Lugar de nacimiento: Santiago de Compostela</p>
				<p tabindex="10">Permiso de conducir: Permiso B</p>
				<p tabindex="11">Género: Hombre</p>
				<p tabindex="12">Nacionalidad: Española</p>
				<p tabindex="13">Provincia: A Coruña</p>
				<p tabindex="14">LinkedIn: <a id="enlaceLinkedin" href="https://linkedin.com/in/rodrigosambade-5675bb186" tabindex="15">linkedin.com/in/rodrigosambade-5675bb186</a></p>
				<p tabindex="16">DNI: 46094460E</p>
				<p tabindex="17">Grado de discapacidad: 36%</p>
			</div>
		</header>
	
		<section id="idiomas" tabindex="18">
			<h2 tabindex="19">Idiomas</h2>
			<ul>
				<li tabindex="20">Inglés</li>
				<li tabindex="21">Gallego</li>
				<li tabindex="22">Castellano</li>
			</ul>
		</section>
	
		<section id="perfil" tabindex="23">
			<h2 tabindex="24">Perfil</h2>
			<p tabindex="25">Desarrollador de Aplicaciones Móviles. Anteriormente, Técnico Especialista en Investigación, Diseñador Web y Desarrollador Java. Interesado en puestos de Desarrollo de Aplicaciones Móviles, Desarrollo Web o Desarrollo Java.</p>
		</section>
	
		<section id="competencias" tabindex="26">
			<h2 tabindex="27">Competencias</h2>
			<h3 tabindex="28">Competencias técnicas:</h3>
			<ul>
				<li tabindex="29">Configurar y explotar sistemas informáticos</li>
				<li tabindex="30">Programar bases de datos relacionales</li>
				<li tabindex="31">Desarrollar componentes software en lenguajes de programación estructurada</li>
				<li tabindex="32">Desarrollar componentes software en lenguajes de programación orientados a objetos</li>
				<li tabindex="33">Instalar y configurar sistemas de planificación de recursos empresariales y de gestión de relaciones con clientes</li>
				<li tabindex="34">Crear elementos software para la gestión del sistema y sus recursos</li>
			</ul>
			<h3 tabindex="35">Competencias metodológicas:</h3>
			<ul>
				<li tabindex="36">Escribir amplias secciones de código rápidamente</li>
			</ul>
			<h3 tabindex="37">Competencias de relación:</h3>
			<ul>
				<li tabindex="38">Trabajo en equipo</li>
			</ul>
			<h3 tabindex="39">Competencias personales:</h3>
			<ul>
				<li tabindex="40">Perfeccionismo</li>
			</ul>
		</section>
	
		<section id="formacion" tabindex="41">
			<h2 tabindex="42">Formación</h2>
			<h3 tabindex="43">Docker Kubernetes with AWS: Containerize & Deploy - diciembre 2020 - Udemy, Santiago de Compostela</h3>
			<h3 tabindex="44">Ciclo Superior en Desarrollo de Aplicaciones Multiplataforma - sep 2017 - dic 2019 - TESDAI, Santiago de Compostela</h3>
			<p tabindex="45">Nota de proyecto de fin de ciclo: 10</p>
		</section>
	
		<section id="experiencia" tabindex="46">
			<h2 tabindex="47">Experiencia</h2>
			<h3 tabindex="48">Desarrollador de Aplicaciones Móviles - oct 2023 - presente</h3>
			<p tabindex="49">Concello de Santiago de Compostela, Santiago de Compostela</p>
			<p tabindex="50">Trabajo desarrollando tres aplicaciones móviles para la Senda del Río Sar, el Pasatiempos e el Mercado de Abastos y el Museo del pueblo gallego.</p>
			<p tabindex="51">Tecnologías utilizadas: HTML5, CSS3, JavaScript, Next.js, React Native, Adobe Photoshop, Adobe Illustrator, Adobe After Effects, Adobe InDesign, Adobe Dreamweaver y Adobe Premiere.</p>
			<h3 tabindex="52">Técnico Especialista de Investigación - abr 2022 - abr 2023</h3>
			<p tabindex="53">CiTIUS (Centro Singular de Investigación en Tecnologías Inteligentes) - Universidad de Santiago de Compostela, Santiago de Compostela</p>
			<p tabindex="54">Trabajo en el Proyecto Nós Administración de dos webs.</p>
			<p tabindex="55">Las webs son: <a href="https://nos.gal/" tabindex="56">nos.gal</a> (web del Proyecto Nós) y <a href="https://curso-linguaxe.pages.citius.usc.es/#index" tabindex="57">curso-linguaxe.pages.citius.usc.es/#index</a> (Web del Curso de Verano que se impartió que trataba sobre las Tecnologías del Lenguaje)</p>
			<p tabindex="58">Refactorización de la librería SimpleNLG-GL (herramienta para la generación de textos en gallego): <a href="https://gitlab.citius.usc.es/andrea.cascallar/simplenlg-gl" tabindex="59">gitlab.citius.usc.es/andrea.cascallar/simplenlg-gl</a></p>
			<h3 tabindex="60">Estudiante en prácticas - sep 2019 - nov 2019</h3>
			<p tabindex="61">Coremain, Santiago de Compostela</p>
			<p tabindex="62">Trabajo como desarrollador principal en la plataforma web Camunda, del área de Industria Privada de la empresa.</p>
			<p tabindex="63">Tecnologías utilizadas: Camunda, Maven, Java, XML, Git</p>
		</section>
	
		<footer tabindex="64">
			<section id="intereses">
				<h2 tabindex="65">Intereses</h2>
				<p tabindex="66">Cine, Billar, Dardos, Videojuegos, Ajedrez</p>
			</section>
		</footer>
	</main>
	
</Layout>

<style>
    /* Reset de estilos y estilos básicos */
    body, h1, h2, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f5f5f5;
        color: #333;
    }

    #enlaceLinkedin, #enlaceContacto, .enlaceNavbar {
        color: #f7fcf8;
    }

    header {
        background-color: #0077b6;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    section {
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
    }

    h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
        color: #0077b6;
    }

    ul {
        list-style: disc;
        margin-left: 20px;
        font-size: 1.1em;
    }

    /* Estilos específicos para enlaces */
    a {
        color: #0077b6;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /* Estilos para la imagen */
    img {
        border-radius: 10px; /* Añade bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra suave */
        transition: transform 0.3s ease; /* Añade transición suave al hacer hover */
    }

    img:hover {
        transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
    }

</style>

